{% include "helloDJ/home.html" %}
{% load static %}



{% block content %}

<html>
<body>



<div id="helpmenu" style="display:none;"><div class=hop><table width=100%><tr><td><a href="javascript:montre('helpmenu')"> <span class=hop>Help Options &nbsp; [x]</span></a></td><td align=right>Annotathon v1.04</td></tr></table></div><ul><li><img src=http://annotathon.org//logos/compass_s.png align=middle><li><a href="sms2/" target="SMS">SMS</a></li><li><a href=http://www.ncbi.nlm.nih.gov/ target=NCBI>NCBI</a></li><li><a href=http://www.ebi.ac.uk/Tools/ target=EBI>EBI</a></li><li><a href=http://www.phylogeny.fr target=PF>Phylogeny.fr</a></li><li><a href=http://phylogeny.lirmm.fr target=PF2>Phylogeny.lirmm.fr</a></li><li><a href=http://www.ncbi.nlm.nih.gov/Taxonomy/ target=NTAX>Taxonomy</a></li><li><a href=http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions target=RJ>FAQ</a></li>
<li><a href=http://annotathon.org/Metagenes/ target=MG>Metagenes</a></li>
<li><script>
<!--
document.write('<a href="mailto:'+ptCode('-amnivu.fr#ugam#l.p@#ina#c__ph#as',3,3)+'">Contact</a>');
//-->
</script></li>
<li><a href=http://annotathon.org/Metagenes/index.php/Annotathon target=bi>About</a></ul></div></form></div><div class="main"><form name="main" action="http://annotathon.org/" method="POST"  enctype="multipart/form-data"><input type=hidden name=actionjs value=""><input type="hidden" name="axm" value="9284519215aa654db4ac0c2.81658176">
<ul id="menu-accordeon">
   <li><a href="#">Introduction</a>
       <ul>
       <li><a href=#rational>Rationale</a></li>
       <li><a href=#timetable>Team information</a></li> 
       <li><a href=#aims>Aims</a></li>
       </ul>
   </li>  
   <li><a href=#userguide>User Guide</a>
       <ul>
        <li><a href="#authentification">Authentification</a></li>
            
            <li><a href="#view">View annotations</a></li>
            <li><a href="#modify">Modify annotations</a></li>
        
        <li><a href="#submit">Submit annotations for evaluation</a></li>
      </ul>
   </li> 
   <li><a href=#annotationfields>Sequence Annotations</a>
      <ul>
            <li><a href="#principes">General principles</a></li>
            {% if ORFinder.ORFinder %}
            <li><a href="#orfs">ORF Finding</a></li>
            {% endif %}
            <li><a href="#masse">Molecular weight</a></li>
            {% if mod.protocole %}
            <li><a href="#domaines">{{ modna.nom_du_module }}</a></li>
            {% endif %}
            {% if Blast.Blast_P %}
              <li><a href="#search">BLAST homolog search</a></li>
            <li><a href="#report">BLAST taxonomic report</a></li>
            {% endif %}
            {% if new.protocole %}
            <li><a href="#new"> New module</a></li>
            {% endif %}
              
      </ul>
   </li>
   <li><a href="#evaluations">Evaluations</a></li>
   
</ul>
  
<a name=rational><h2>Rationale</h2></a><table>
<tbody><tr>
<td>150 years ago Charles Darwin sailed the high seas on board <em>HMS Beagle</em> (right, top) exploring life&#39;s morphological diversity. Today, ships such as <em>Tara</em> (right, middle) sample the oceans to uncover life&#39;s molecular diversity through metagenomic sequencing.
            <p>&nbsp;</p>

            <p>From September 2009 to December 2013, the oceanographic ship <em>Tara</em> sampled plankton across all of the planet&#39;s oceans (right, bottom). Ocean plankton produce half the oxygen we breathe. If terrestrial forests fill up our first lung, oceans fill up the second. The ocean&#39;s microscopic planktonic life is also an important carbon sink, with far reaching implications in climate change scenarios. Hence, the <a href="http://oceans.taraexpeditions.org/en/m/about-tara/10-expeditions/tara-oceans/">Tara Oceans pan-oceanic international expedition</a> aims to define the current state of plankton biodiversity, from tropical coral reefs to Antarctica, from viruses to fish larvae.</p>

            <p>Metagenomic sequencing of the plankton DNA contained in the thousands of Tara Oceans samples has begun at the GENOSCOPE (France). These short pieces of DNA contain precious information on the identity of the plankton species which populate seawater, as well as hints to the metabolic functions at work in these tiny ocean drifters. At this molecular scale, bioinformatics is the essential tool to shed light on the information locked up in the DNA sequences!</p>

            <p>Your mission is to sift through this precious gigantic heap of DNA sequence data, in order to try and identify the microbial origin of these sequences (archeal, bacterial, viral?), to predict if these DNA sequences code for proteins, and if this is the case, what might be the function of these protein coding genes?</p>
            &nbsp;

            <p><a href="http://oceans.taraexpeditions.org/" target="TARA"><img alt="Tara" src="http://annotathon.org//logos/TaraLogo_s.png" /></a></p>
            </td>
            <td><a href="http://oceans.taraexpeditions.org/" target="TARA"><img src="http://annotathon.org//logos/tara_beagle.jpeg" style="float:right" /></a><br />
            <br />
            &nbsp;</td>
        </tr>
    </tbody>
</table>

<p>&nbsp;<a href="http://oceans.taraexpeditions.org/wp-content/uploads/2014/05/5000TARA-doubleOceans-EN-04.jpg" target="_blank"><img alt="Tara Oceans essential figures" src="http://oceans.taraexpeditions.org/wp-content/uploads/2014/05/5000TARA-doubleOceans-EN-04.jpg" style="float:right; height:644px; width:900px" /></a></p>
<a name=timetable><h2>Team information</h2></a><h4>Freelance volunteer annotator</h4>
The "Open access" team is open to all volunteer explorers! To join, please open an account in the "Open Access" team using the "Create New Account" tab at the top of this page.
<h4>Students taking a course running an Annotathon team</h4>
You are invited to open an account in your course's specific team (e.g. BioCell2007) using the "Create New Account" tab at the top of this page.
<h4>Teachers who wish to lead an Annotathon student team</h4>
If you teach and wish to create a team for your students, you will find all necessary information on the <a href=http://annotathon.univ-mrs.fr/Metagenes/index.php/Instructor_Manual>Annotathon Instructor Manual</a>. 

<a name=aims><h2>Aims</h2></a>
<p>Your team will collectively annotate distinct DNA fragments randomly distributed from the available public sequence pool. Each registered annotator will be responsible for annotating a specific set of sequence fragments. For each fragment, annotators will produce a full report specifying if it is likely to be coding, the putative function of the protein product, as well as the most likely taxonomic classification of the host organism.
<p>By practicing the core bioinformatics tools on a number of distinct sequences, each one a live piece of experimental data, you will become familiar with the running and interpretation of fundamental sequence analysis. Experience shows that after two or three distinct analyses, the focus shifts from bioinformatics to biological issues!
All tool are available online, so all you need to start is a web browser.<a name=userguide><h2>User Guide</h2></a>
<p><i>You can access the Annotathon from any computer connected to the Internet, irrespective of operating system (MAC, Windows or Linux)...</i>

<a name=authentification><h4>Authentification</h4>

<p>We recommend that you simultaneously open the following pages (in different windows or tabs) in your browser:
<ul>
    <li>The main <a href="index.php">Annotathon</a> work page
    <li>This <a href=http://annotathon.org/?actionjs=rules>Rule Book</a>
    <li>The <a href=http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions>Frequently Asked Questions</a> page with advanced illustrated guides to the tools that will be used during the practical
</ul><br>

<p>If you don't have an Annotathon account (i.e. it is your first session), clic on the "<b>New account</b>" tab in the permanent menu at the top of the Annotathon pages. Follow the instructions to open a new account; make sure you select the appropriate <b>affiliation</b> or you might end up being supervised inside an another team, possibly using a different language... If you don't know your <b>Team code</b>, please ask your instructor for it. You are required to enter at least one firstname/lastname pair, and one email address in order to receive Annotathon specific notifications. Your email address is secure and will under no circumstance be made public or passed on to any third party. Only low traffic messages specific to your course duration will be mailed to this address; no further messages will be sent after the course is completed.

<p>Finally a clic on "<b>Open the account</b>" should be followed by the message "<b>Account 'XYZ' has been created</b>". Use your 'username' and 'password' and clic "<b>Connect</b>" in the form at top of page to open an Annotathon session. You will be reminded that your email address is not validated until you have followed the special link included in an email automatically sent to you at account creation.

<p>The home page (also available by clicking the "<b>Home</b>" tab) gives an overview of the team's annotation progress. Note that once connected you will be able to locate your position in the team at the bottom of the stats page (after your annotations start being evaluated).


<a name=cart><h4>Cart and sequence fragments</h4>
Each annotator can list the sequence fragments under his annotation responsability by clicking on the "<b>Cart</b>" tab. Your cart being initially empty, select an ocean sampling location (e.g. <i>Caribbean Sea: Rosario Bank</i>) and clic on "<b>Add a new sequence to your cart</b>".

<p>You can only add new sequence fragments to your cart when it is empty, or when you have already annotated all available sequences. Add new sequence fragments at your discretion (or until you reach the upper limit set by your supervisor).



<a name=view><h4>View annotations</h4>

<p>Clic the <img src=http://annotathon.org//logos/view_s.png> icon opposite the sequence you wish to view in your cart. The initial annotation is minimal: outside the sequence itself and its geographic origin, each sequence fragment has a unique Annotathon accession number. The remaining annotation is your responsibility!



<a name=modify><h4>Modify annotations</h4>

<p>Clic the <img src=http://annotathon.org//logos/edit_s.gif> icon opposite the fragment you wish to edit. After having modified any annotations, remember to save your work on the Annotathon server by clicking the "<b>Save your annotations</b>" button! Should you leave this editing form without submitting, all modifications since last save will be lost... Since you can submit your work as often as you wish, it is recommended you save your work regularly.



<a name=codes><h4>Fragment accession numbers</h4>
The accession numbers assigned to sequence fragments (e.g. GOS_5421290.1) are arbitrary and internal to the Annotathon; the last digits after the dot correspond to the annotation version (starts at 1 and increments by one at each save). You can view precedent annotation versions by selecting the appropriate version in the popup list at the top of the visualisation sheets (<img src=http://annotathon.org//logos/view_s.png> icon).



<a name=submit><h4>Submit annotations for evaluation</h4>

<p>When your annotations are completed, clic the <img src=http://annotathon.org//logos/correction1.png> icon opposite the fragment. Its status will then shift from 'Annotation 1' to 'Evaluation 1' and it will be closed for editing until your work has been evaluated. After this initial evaluation, the fragment status shifts from 'Evaluation 1' to 'Annotation 2'; you are then invited to update your initial annotations following the evaluator's comments. When your second annotation pass is completed, clic the <img src=http://annotathon.org//logos/correction2.png> icon to submit your annotation for the second and final round of evaluations.


<a name=annotationfields><h2>Sequence Annotations</h2>

<ol>
    <li><strong>Protocol &amp; Results Analysis</strong> (free text fields)</li>
    <li><strong>Raw Results</strong> (i.e. ORFfinder, BLAST, multiple alignment, phylogenetic tree)</li>
    <li><strong>Ontologies</strong> (i.e. molecular function, biological process, gene symbol, taxonomy)</li>
</ol>

<p>The Annotathon editing form is hence both a numeric &quot;<strong>lab book</strong>&quot; (Protocols &amp; Raw Results) and an &quot;<strong>annotation report</strong>&quot; (Results Analysis &amp; Ontologies).</p>

<p><strong>IMPORTANT:</strong> Some free text fields are initially filled with a standard template looking like this:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><code>PROTOCOL:<br />
---------------------------------------------------------------------------------------------------<br />
RESULTS ANALYSIS:<br />
---------------------------------------------------------------------------------------------------<br />
RAW RESULTS:</code></div>

<p>Under the &quot;<strong>PROTOCOL</strong>&quot; heading, specify the minimum information necessary to reproduce the exact same results. Usually, this would entail giving the name of the tool used, the URL of the web page, together with its run parameters. For instance, for the ORF finding results field, the protocol line could read:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><code><tt>PROTOCOL:<br />
SMS ORFinder, http://annotathon.org/sms2/orf_find.html :<br />
&nbsp;&nbsp;&nbsp; forward strand, frames 1, 2 &amp; 3, min 60 AA, &#39;any codon&#39; initiation, &#39;universal&#39; genetic code </tt></code></div>

<p>&nbsp;</p>

<p>Copy &amp; paste the <strong>raw results of the analysis</strong>, <em>in-extenso</em>, under the &quot;<strong>RAW RESULTS</strong>&quot; heading. If you have carried out more than one analysis (for instance two SMS ORFfinder runs, one on forward and one on reverse strand), then reference the two analyses using an index exactly as follows:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><code>PROTOCOL:<br />
a) SMS ORFinder, http://annotathon.org/sms2/orf_find.html :<br />
&nbsp;&nbsp; forward strand, frames 1, 2 &amp; 3, min 60 AA, &#39;any codon&#39; initiation, &#39;universal&#39; genetic code<br />
b) SMS ORFinder, http://annotathon.org/sms2/orf_find.html :<br />
&nbsp;&nbsp; reverse strand, frames 1, 2 &amp; 3, min 60 AA, &#39;any codon&#39; initiation, &#39;universal&#39; genetic code </code>

<hr />
<p><code>RESULTS ANALYSIS:<br />
<br />
<em>[<strong>enter your observations here]</strong></em></code><br />
&nbsp;</p>

<hr /><code>RAW RESULTS:<br />
a) forward strand<br />
&gt;ORF number 1 in reading frame 1 on the direct strand extends from base 511 to base 744.<br />
CGAGTGATAACTGGTCCAGTAATCGCGATACCGATCATCTTGTTGCGGATTGACGATGTT<br />
AAAATCCCGATCAGGGCGGATATCCAGCCCCAGCCTTTCACAACGTTGCTGAATCACTTC<br />
GGGGCGGCCTATGACGATGGGAACTTCGCTGGTTTCTTCCAAAACGGCCTGAGCGGCGCG<br />
CAGCACCCGCTCGTCTTCGCCCTCGGCAAACACAATCCGTCGAGCGCTGCTTGA<br />
&gt;Translation of ORF number 1 in reading frame 1 on the direct strand.<br />
RVITGPVIAIPIILLRIDDVKIPIRADIQPQPFTTLLNHFGAAYDDGNFAGFFQNGLSGA<br />
QHPLVFALGKHNPSSAA*<br />
---------------------------------------------------------------------------------------------------<br />
b) reverse strand<br />
&gt;ORF number 1 in reading frame 1 on the reverse strand extends from base 517 to base 855.<br />
CCTGATCTGTGGCGCTGTGGGCGAATTCAGATGGCATCTGAATTATATCGAGCAAATTTT<br />
AGGCAGCAAAACCTTATCGCCAAGCGGCGCGCTGTCTTTGATGATTTTAGAAGACGGGCC<br />
TCTGTTCATCGCAGACACCCACGTCTGGGCGGATCCCACCCCCATGCAAATTGCCCAAAC<br />
CGCCAAAGGGGCCGCGCGCCATGTGCGCCGTTTTGGCATAGAGCCACAAGTCGCGCTGTG<br />
CTCGCAATCACAATTTGGAAATCTGAACAGCGAGACTGGCAAGAAAATGCGCCAAGCATT<br />
GGATATTCTCGATACCGAAAAGGTGACGTTTACCTATGA<br />
&gt;Translation of ORF number 1 in reading frame 1 on the reverse strand.<br />
PDLWRCGRIQMASELYRANFRQQNLIAKRRAVFDDFRRRASVHRRHPRLGGSHPHANCPN<br />
RQRGRAPCAPFWHRATSRAVLAITIWKSEQRDWQENAPSIGYSRYRKGDVYL*</code></div>

<p>&nbsp;</p>

<p>Finally, use the &quot;<strong>RESULTS ANALYSIS</strong>&quot; sections to expose your observations and interpretations of the raw results. Results analysis, a <strong>pivotal</strong> part of scientific discourse, answers the question &quot;<em>what did we see that is notable when we carried out the experiment described in the protocol</em>&quot;. These <strong>rigorous factual observations</strong>, usually accompanied by <strong>precise numerical values</strong> (percentages, E-values, number of hits, number of conserved amino acids etc.) are offered without far reaching discussions. Focus the main discussion and interpretations in the &quot;<strong>Conclusion</strong>&quot; field.</p>

<p>Note: the last &quot;<strong>Notepad</strong>&quot; field at the bottom of the sequence editing form is available to store any data that isn&#39;t accommodated by other specific annotation fields. Use the Notepad to store data that can be useful for subsequent re-analyses (e.g. store your set of FASTA formatted homolog sequences here). The Notepad is your private space and is not consulted during evaluation.</p>

<p>Brief contextual help is available for each annotation field of the editing form by clicking the <img src="http://annotathon.org//logos/help.png" /> icons. The information expected for each annotation field is described below.</p>

<p>Remember that a <a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions" target="FAQ">Frequently Asked Questions</a> is available for in depth explanations, tutorials and screen shots of each of the bioinformatics analyses needed to perform the sequence annotations.</p>

<p>Always keep in mind during your analyses the three main focal points of your annotation which consists in proposing:</p>

<ul>
    <li>is the DNA <strong>coding</strong> or not? If it is, then what are the ORF&#39;s start &amp; end positions</li>
    <li>a <strong>functionnal hypothesis</strong> for the putative protein encoded by the DNA fragment</li>
    <li>a <strong>taxonomic hypothesis</strong> regarding the organism likely to carry the DNA fragment</li>
</ul>

<p><strong>No single bioinformatics tool can by itself answer any of these questions; answers will be built through recouping and synthesis of all available results.</strong></p>

<p>The basic rule set below can be over ridden by more specific or alternative rules given to you by your instructors. If in doubt, always consult your instructors.</p>
{% if ORFinder.ORFinder %}
<a name=orfs><h3>ORF finding</h3>

<p>The first investigation for each DNA fragment will involve the identification of putative Open Reading Frames (ORFs). There are many tools to tackle this issue, including the following:</p>

<ul>
    <li><a href="/sms2/">Sequence Manipulation Suite (SMS)</a> (recommended)</li>
    <li><a href="http://www.ncbi.nlm.nih.gov/gorf/gorf.html">NCBI ORF finder</a></li>
</ul>

<p>For this study, you will only consider ORFs that verify the following criteria:</p>

<ol>
    <li>do not contain any <strong>STOP codons</strong> (basic ORF definition...)</li>
    <li>contains at least <strong>60 codons</strong></li>
    <li>can be on either direct or reverse <strong>strands</strong></li>
    <li>can be in <strong>frames 1, 2 or 3</strong> on each strand</li>
    <li>can be <strong>complete or incomplete</strong> at the 5&#39; or 3&#39; ends, or both!</li>
</ol>

<p>Copy &amp; paste the <strong>raw uncensored</strong> ORF finding output in the&#39;<strong>ORF finding</strong>&#39; field of the Annotathon editing form. Remember to conduct the analysis in all SIX frames, and to include a full PROTOCOL line for each raw result. If you have carried out more than one analysis, as for ORFinder calculated on both strands, or for BLASTp against SWISSPROT and against NR, then you must label each <strong>distinct Protocol line</strong> with a letter matching a corresponding header in the raw results section (as shown above for the ORFinder example).</p>

<p>Please synthesize all the ORFinder results in a synoptic table like follows (use the field text editor icons to add a table):</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><strong>Table 1: </strong>List of putative ORFs present within the metagenomic DNA fragment

<table border="1" cellpadding="1" cellspacing="1" style="height:247px; width:924px">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>Size (nt)</td>
            <td>Size (aa)</td>
            <td>Strand</td>
            <td>Start position</td>
            <td>End position</td>
            <td>ORF complete in 5&#39;</td>
            <td>NORF complete in 3&#39;</td>
            <td>Number of Hits Blast NR Ev &lt; 1e-10</td>
            <td>ORF classification</td>
        </tr>
        <tr>
            <td style="text-align:center; vertical-align:middle">ORF1</td>
            <td style="text-align:center; vertical-align:middle">267</td>
            <td style="text-align:center; vertical-align:middle">88</td>
            <td style="text-align:center; vertical-align:middle">direct</td>
            <td style="text-align:center; vertical-align:middle">95</td>
            <td style="text-align:center; vertical-align:middle">361</td>
            <td style="text-align:center; vertical-align:middle">yes</td>
            <td style="text-align:center; vertical-align:middle">yes</td>
            <td style="text-align:center; vertical-align:middle">0</td>
            <td style="text-align:center; vertical-align:middle">Less probable ORFan</td>
        </tr>
        <tr>
            <td style="text-align:center; vertical-align:middle">ORF2</td>
            <td style="text-align:center; vertical-align:middle">891</td>
            <td style="text-align:center; vertical-align:middle">297</td>
            <td style="text-align:center; vertical-align:middle">reverse</td>
            <td style="text-align:center; vertical-align:middle">120</td>
            <td style="text-align:center; vertical-align:middle">1010</td>
            <td style="text-align:center; vertical-align:middle">yes</td>
            <td style="text-align:center; vertical-align:middle">no</td>
            <td style="text-align:center; vertical-align:middle">4256</td>
            <td style="text-align:center; vertical-align:middle">KNOWN (studied here)</td>
        </tr>
    </tbody>
</table>
</div>

<p><span style="color:#FF0000"><strong>Important note: Tables should have incremental numbers (ex. Table 1, Table 2, etc...) through all annotation items, as well as titles.</strong></span></p>

<p>You should also do a figure that resume the positions of each ORFs in the DNA fragment (example is givening below, but not link with the previous table).</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><strong>Figure 1</strong>: Localization of ORFs on TO72D_5186010 DNA fragment<br />
<br />
<tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (50)<span style="background-color:#FFA07A">==ORF1==&gt;</span>(249) (268)<span style="background-color:#FFA07A">====ORF2====&gt;</span>(579)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (744)<span style="background-color:#FFA07A">========ORF3======&gt;</span>(1068)&nbsp;<br />
DIRECT :&nbsp;&nbsp;&nbsp;&nbsp; 1 ------------------------------------------------------------------------------ 1070<br />
REVERSE : 1070 ------------------------------------------------------------------------------ 1<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1068)<span style="background-color:#00FF00">&lt;====================ORF4====================</span>(394)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (407)<span style="background-color:#FFFF00">&lt;==========ORF5==========</span>(134)<br />
<strong>Legend</strong>:<br />
<span style="background-color:#FFA07A">==ORFx==&gt;</span> False positive<br />
<span style="background-color:#00FF00">==ORFx==&gt;</span> KNOWN (Studied ORF)<br />
<span style="background-color:#FFFF00">==ORFx==&gt;</span> NOVEL (Not studied here)</tt></div>

<p>If your sequence contains several ORFs, arbitrarily select either the longest one or the one obtaining the highest number of BLAST hits (see below) for all subsequent analyses.</p>

<p>You should also classify each putative ORF in each one of the following categories:</p>

<ul>
    <li><strong>False positive </strong>(succession de some codons without STOP)</li>
    <li><strong>ORFan</strong> (protein coding gene without homologs at the date of your analysis)</li>
    <li><strong>Novel</strong> (protein coding gene having homologs with unknown function)</li>
    <li><strong>Known</strong> (protein coding gene having homologs with known functions)</li>
</ul>

<p>In order to classify your ORFs, the following elements should be considered:</p>

<ul>
    <li>the presence of homologous proteins (see BLAST item)(E-value &lt;1E-10) ==&gt; <strong>NOVEL</strong> or <strong>KNOWN</strong>)</li>
    <li>the ORF size (ORF &gt;100aa without homologs is probably an <strong>ORFan</strong>)</li>
    <li>an ORF <strong>without homologs</strong> is certainly a <strong>False positive </strong>if this ORF&nbsp; mainly overlaps another ORF <strong>with homologs. </strong></li>
</ul>

<p>If homologs clearly exist, you can conclude that the sequence is coding DNA whatever the ORF size. Otherwise, the true or false positive nature of the ORF will essentially depend on the ORF size[1]. There is no real hard threshold, but it is very unlikely that a 150+ amino acids ORF is a false postive...</p>

<p>-If the DNA fragment doesn&#39;t appear to contain any ORFs and is too short to be convincing, tick the &#39;<strong>non-coding</strong>&#39; box of the &#39;<strong>Status</strong>&#39; field. The annotation of this fragment will be limited to populating the ORF finding and BLAST fields, as well as the conclusion of course! However, before you conclude that an ORF is non-coding, we recommend that you first look for homologs in the &quot;environmental databases&quot;. Ask your instructor for instruction on how to proceed, since this is quite exceptionnal. If you still find no homologs in &quot;environmental databases&quot;, you may save your annotations and add a new (hopefully less obscure) sequence to your<a href="#4515413"> cart<img src="http://cdncache-a.akamaihd.net/items/it/img/arrow-10x10.png" /></a>.</p>

<p>-If the sequence appears to carry a true coding ORF (either very long ORF, or with many homologs, or both!), tick the &#39;<strong>coding</strong>&#39; box of the &#39;<strong>Status</strong>&#39; field. Indicate in the appropriate fields the <strong>start</strong> and <strong>end</strong> positions of the ORF[2], as well as the <strong>strand</strong>. Note that if the ORF is complete at the 3&#39; end (i.e. finishes with a STOP), you need to substract the 3 STOP codon nucleotides from the end position. Validate this ORF by clicking &quot;<strong>Save annotations</strong>&quot;.</p>

<p>If the ORF verifies the rules above, the translation will automatically by displayed; otherwise a <strong>red error message</strong> will help you pin point the problem. The ORF can be incomplete, in which case simple <strong>green informational messages</strong> to this effect are displayed. You should correct ORF strand, start and stop positions until you do <strong>not observe any more error messages</strong> after saving your annotations!</p>

<p>[1]<em> indeed the absence of homologs in public protein databases does not suggest that a sequence is non-coding; it merely means that there is currently no known homolog. There exists other so called <em>ab initio</em> approaches to identify true positive coding ORFs (for instance based on statistical codon usage biases) but these methods usually require organism specific known gene training sets or large chunks of genome sequence, which are hence difficult to apply to metagenome exploration where by definition the organisms from which the sequences derive are unknown.</em></p>

<p>[2]<em><strong> Important note on the ORF coordinate system:</strong> The ORF start &amp; end positions must be given on the strand which carries the ORF! The ORF positions given by the SMS ORF finder can be entered as is, whereas ORF locations on the reverse strand provided by the NCBI ORF finder need to be converted (fragment length - position +1)...</em></p>

<p>Please refer to the <a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions" target="FAQ">Frequently Asked Questions</a> for further details on ORF finding, in particular on the subtil issue of exact determination of ORF start position...</p>

<table border="1" cellpadding="1" cellspacing="1" style="height:337px; width:945px">
    <tbody>
        <tr>
            <td style="background-color:PeachPuff">
            <p><strong>RESULTS ANALYSIS</strong></p>

            <pre>
Here is an example of how to structure the analysis of the results 
<strong>1- ORFs Classification</strong>
  1.1- Justify KNOWN ORFs (if present)
  1.2- Justify NOVEL ORFs (if present)
  1.3- Justify ORFan ORFs (if present)
  1.4- Justify False positive ORFs (if present)

     -&gt; Give detailed justification of each classification
     -&gt; Refer to Table 1!
<span style="color:rgb(211, 211, 211)"> </span>    -&gt; Cite your sources of information with web links (<em>e.g. </em>&quot;homologs are epimerase <em>(cf. <a href="http://www.uniprot.org/uniprot/Q57664" target="_blank">Fiche SWISSPROT MJ0211</a>)</em>&quot;

<strong>2- ORF selected for annotation in the rest of the report</strong>
     -&gt; Justify your selection!
     -&gt; Would other ORFs may also be subjected to bioinformatics analysis? </pre>

            <pre>
<strong>3- Extremeties of the selected ORF
</strong>     -&gt; Discuss the start and end positions. If possible, can you estimate the missing number of amino acids to get a complete and full protein (refer to the <strong>multiple alignment</strong> section). </pre>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
<a name=masse><h3>Molecular weight</h3>

<p>Only if the <strong>ORF is complete at both ends</strong>, compute its theoretical polypeptide molecular weight using for instance:</p>

<ul>
    <li><a href="/sms2/">SMS</a></li>
</ul>
{% if mod.protocole %}
<a name=domaines><h3>{{ modna.nom_du_module }}</h3>
{{ Domaines.description }}
{% endif %}
<p>Find out whether your ORF contains any of the known conserved domains stored in one of the domain databases:</p>

<ul>
    <li><a href="http://www.ebi.ac.uk/InterProScan/">INTERPRO</a> (recommended)</li>
    <li><a href="http://pfam.xfam.org/">PFam</a></li>
</ul>

<p>INTERPRO is a good choice since as a federation of all other databases, it contains all known domains; INTERPRO analyses can however be a the slow side.</p>

<p>Only submit to the Annotathon domains that you have good reasons to believe are <strong>significant</strong>, that is to say:</p>

<ol>
    <li>those that are not expected to be found easily purely by chance (i.e. which have sufficiently specific profiles/signatures), check the <strong>E-values</strong>!</li>
    <li>those whose predicted <strong>functions are coherent</strong> with the other bioinformatics results (e.g. a DNA binding domain for an ORF which BLAST homologs are transcription factors)</li>
    <li>domains that are <strong>non-redundant</strong> (and <strong>non-overlapping</strong>) with other domains you have submitted to the Annotathon</li>
</ol>

<p>If you are convinced of the likelyhood of at most four domains (but because of the short length of metagenome sequences it is very rare to have more than one non-redundant domain), enter their names and coordinates if the Annotathon &#39;<strong>domains</strong>&#39; field. Pay attention not to repeat essentially the <strong>same domain</strong> represented under multiple accession numbers in distinct databases (it is common for domains to be present in all three PROSITE, PRINTS &amp; PFam databases).</p>

<p>In the &quot;Raw results&quot; of the INTERPROscan analysis, copy the tool&#39;s results in the following form only (&quot;<strong>Export</strong>&quot; -&gt; &quot;<strong>TSV</strong>&quot;):</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px">
<hr /><code>RAW RESULTS:<br />
TO82S_4665010 35c27f 205 SUPERFAMILY SSF52833 79 162 3.44E-7 T 30-09-2014 IPR012336 Thioredoxin-like fold<br />
TO82S_4665010 35c27f 205 Pfam PF14595 Thioredoxin 44 167 6.3E-32 T 30-09-2014<br />
TO82S_4665010 35c27f 205 Gene3D G3DSA:3.40.30.10 18 205 4.4E-36 T 30-09-2014 IPR012336 Thioredoxin-like fold&nbsp; </code></div>

<p>Please synthesize this difficult to read raw result by producing (yet another) nice table under the &quot;Results Analysis&quot; section, for instance:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><code><strong>Table 2</strong>: List of conserved protein domains identified by&nbsp; InterproScan<br />
______________________________________________________________________________________________________________________________<br />
|&nbsp; Interpro code&nbsp; |&nbsp; Database&nbsp;&nbsp; |&nbsp; start&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; end&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; E-value&nbsp; |&nbsp; Original DB description&nbsp;&nbsp; |&nbsp;&nbsp; Interpro description&nbsp;&nbsp; |<br />
|&nbsp;&nbsp; (IPRxxxxxx)&nbsp;&nbsp; |&nbsp;&nbsp; origin&nbsp;&nbsp;&nbsp; |&nbsp; position&nbsp; |&nbsp; position&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; (first on raw res. line)&nbsp; |&nbsp;&nbsp; (last on raw res. line)|<br />
|_________________|_____________|____________|____________|___________|____________________________|__________________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp; IPR012336&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | SUPERFAMILY |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 79&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; 162&nbsp;&nbsp;&nbsp; |&nbsp; 3.44E-7&nbsp; |&nbsp;&nbsp; SSF52833&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp; Thioredoxin-like fold&nbsp; |<br />
|_________________|_____________|____________|____________|___________|____________________________|__________________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; N&eacute;ant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; Pfam&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 44&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; 167&nbsp;&nbsp;&nbsp; |&nbsp; 6.3E-32&nbsp; |&nbsp;&nbsp; Thioredoxin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; N&eacute;ant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|_________________|_____________|____________|____________|___________|____________________________|__________________________|<br />
|&nbsp; IPR012336&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; Gene3D&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; 205&nbsp;&nbsp;&nbsp; |&nbsp; 4.4E-36&nbsp; |&nbsp;&nbsp; G3DSA:3.40.30.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp; Thioredoxin-like fold&nbsp; |<br />
|_________________|_____________|____________|____________|___________|____________________________|__________________________|</code></div>

<p>Please refer to the <a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions" target="FAQ">Frequently Asked Questions</a> for further details on running InterproScan and most importantly on identifying conserved domains.</p>

<table border="1" cellpadding="1" cellspacing="1" style="height:266px; width:930px">
    <tbody>
        <tr>
            <td style="background-color:PeachPuff">
            <p><strong>RESULTS ANALYSIS</strong></p>

            <pre>
<strong>1. Selected domains</strong> (if present)
    -&gt; Which domains predictions do you select to annotate the ORF? Specifiy their sizes, E-value! Justify your selection!
    -&gt; Refer clearly to Table 2 for your detailled analysis.

<strong>2. Rejected domains</strong> (if present)
    -&gt; Why are some functional domains rejected? (high E-value?  No IPR domains?)

<strong>3. Biological function</strong>
    -&gt; Give details of biological functions associated your retained domains? (enzymatic activities, molecular functions, biological processes, ....)
    -&gt; Cross your results with Blast results (in particular Swissprot)
    -&gt; All your sources should be cited (for example web link to Interpro or Pfam entry)</pre>
            </td>
        </tr>
    </tbody>
</table>
{% if Blast.Blast_P %}
<a name=search><h3>BLAST homolog search</h3>

<p>Use <strong>BLAST</strong> to identify putative sequence <strong>homologs</strong> of your ORF in public sequence databases. You can find online BLAST services at:</p>

<ul>
    <li><a href="http://www.ncbi.nlm.nih.gov/BLAST/">NCBI (recommended)</a></li>
    <li><a href="http://www.ebi.ac.uk/blastall/index.html">EBI (in case NCBI is overloaded)</a></li>
</ul>

<p>Two approaches can be used to identify homologs of your sequence:</p>

<ul>
    <li><strong>BLASTp</strong>: ORF protein sequence against protein database</li>
    <li><strong>BLASTx</strong>: submit your nucleotide sequence and it will be translated by BLAST in all six frames before comparison with a protein database; use BLASTx if you are in doubt as to the ORF location on your DNA fragement, or if your ORF search did not yield any convincing ORFS (BLASTx is unsensitive to small sequencing errors that can introduce framshifts that confuse simple ORF finding programs)</li>
</ul>

<p>You should query the two following protein databases:</p>

<ul>
    <li><strong>NR</strong> the most comprehensive database available (useful for the subsequent phylogenetic analysis)</li>
    <li><strong>SWISSPROT</strong> very small database with highly accurate and informative annotations (useful for subsequent fonctionnal hypotheses)</li>
</ul>

<p>Copy &amp; paste in the &#39;<strong>BLAST</strong>&#39; Raw Results field (Important note: a text version of the BLAST results are available via the &quot;Reformat&quot; button on the NCBI website):</p>

<ol>
    <li>the <strong>BLAST header</strong> (or insert your protocol: program name, database queried and any other modified parameters)</li>
    <li>the complete <strong>unabridged hit list</strong> (the summary sequence list next to the two &#39;Score&#39; and &#39;E-Value&#39; columns)</li>
    <li>the <strong>first sequence alignements</strong> (all alignments if there are few hits, otherwise <strong>just the first dozen</strong> or so)</li>
</ol>

<p>If homologs of your ORF exist, indicate what you consider the <strong>E-value threshold</strong> that separates true positive homologs from false positive non-homologs.</p>

<p>Present under the BLAST &quot;<strong>Results Analysis</strong>&quot; section a synthetic table looking like this:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><strong>Table 3</strong>: Number and quality of Blastp alignments vs NR and SWISSPROT<br />
<code>__________________________________________________<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; number of&nbsp; |&nbsp;&nbsp; min&nbsp;&nbsp; |&nbsp;&nbsp; max&nbsp;&nbsp; | e-value |<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; results&nbsp; &nbsp; | e-value | e-value |threshold|<br />
______|_____________|_________|_________|_________|<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
&nbsp; NR&nbsp; |&nbsp;&nbsp;&nbsp; 3124&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; 5e-61&nbsp; |&nbsp;&nbsp;&nbsp; 10&nbsp;&nbsp; |&nbsp; 4e-07&nbsp; |<br />
______|_____________|_________|_________|_________|<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
&nbsp; SP&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; 105&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; 3e-05&nbsp; |&nbsp;&nbsp;&nbsp; 10&nbsp;&nbsp; | &lt; 3e-05 |<br />
______|_____________|_________|_________|_________|</code></div>

<p>With the help of &quot;<a href="http://annotathon.org/outils/blast_definition_list.php">Definition List</a>&quot; tool, also include a table which lists all the distinct functions of the homologs detected by BLAST, with their range of E-values. The Definition List is of great help, but not perfect. In some cas, you may need to simplify the list by grouping in one line some definitions. e.g. DNA polymerase B from :</p>

<ul>
    <li>&quot;DNA polymerase B&quot;</li>
    <li>&quot;DNA polymerase B PolB&quot;</li>
    <li>&quot;Putative DNA polymerase B&quot;</li>
    <li>&quot;DNA polymerase B family proteins&quot;</li>
    <li>&quot;DNA polymerase B, partial&quot;</li>
</ul>

<p>Provide a table of the following form:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><br />
<strong>Table 4</strong>: Catalog of protein homolog functions from&nbsp; BLASTp vs NR (With the help of &quot;<a href="http://annotathon.org/outils/blast_definition_list.php">Definition List</a>&quot; tool)<br />
<tt>&nbsp; ___________________________________________________________________________________________________<br />
&nbsp; |&nbsp;&nbsp;&nbsp; descriptions :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | min e-value | max e-value |<br />
&nbsp; |_______________________________________________________________________|_____________|_____________|<br />
&nbsp; | &bull; carbamoyl phosphate synthase large subunit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 5e-61&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; transcriptional regulator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 7e-33&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-29&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; haloacid dehalogenase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-31&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 3e-10&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; UDP-phosphate galactose phosphotransferase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 5e-30&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; 0.35&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; pilin glycosyl transferase B2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-28&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 4e-18&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; carboxylate-amine ligase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 9e-25&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; sialic acid O-acetyltransferase NeuD family sugar O-acyltransferase |&nbsp;&nbsp;&nbsp; 5e-19&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 6e-19&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; NAD-dependent epimerase/dehydratase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 1e-17&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 0.040&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; biotin carboxylase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 7e-17&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9.9&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; carboxyltransferase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 5e-16&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1&nbsp;&nbsp;&nbsp; |<br />
&nbsp; | &bull; DNA polymerase&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-08&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9.9&nbsp;&nbsp;&nbsp; |<br />
&nbsp; |_______________________________________________________________________|_____________|_____________|</tt></div>

<p>You must discuss in the &quot;Results analysis&quot; section if you think this list of homolog functions is coherent or not (ie are they essentially synonyms), and if they are coherent with the functions of the conserved domains identified by INTERPRO!</p>

<table border="1" cellpadding="1" cellspacing="1" style="height:350px; width:941px">
    <tbody>
        <tr>
            <td style="background-color:PeachPuff">
            <pre>
<strong>RESULTS ANALYSIS</strong>
</pre>

            <p>Do not continue the analysis of the fragment if:</p>

            <p>- No homologs (or very small number of homologs in NR database, ie &lt;100)</p>

            <p>- Your gene is already present in the NR biological database (nucleotide BLASTn with <strong>ID &gt; 95%</strong>)</p>

            <pre>
<em><strong>Proposed structure of your analysis section:</strong></em>

<strong>1. Overview of the alignments</strong>
-Synthetic description of your alignment results (number, known functions, quality of the alignments, ...)
-Give details on E-value range, % identity/similarity range, what about indels, alignment coverage, ....)

<strong>2. Identification of protein homologs</strong>
&nbsp;   -&gt; Justify E-value thresholds (NR &amp; SP) (Evalue cutoffs, changes in putative homolog functions), refer to tables 3 &amp; 4.

<strong>3. Function of homologs from SWISSPROT analysis</strong>
   -&gt; From SP entries, give details on closest homolog functions, specific role of important amino acids involved in catalytic function, cross your analysis with protein domain analysis. In all cases, cite your sources with web links. 
</pre>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>Please refer to the <a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions" target="FAQ">Frequently Asked Questions</a> for further details on running BLAST.</p>

<a name=report><h3>BLAST taxonomic report</h3>

<p>Follow the instructions on the <a href="http://annotathon.org/outils/blast_tax_report2.php">TaxReports</a> tool to extract taxonomic information from your list of BLASTp hits.</p>

<p>Copy the full BLAST <strong>Lineage Report</strong> in the Annotathon &#39;<strong>Taxonomy report</strong>&#39; &#39;Raw results&quot; field. <strong>Only include the first chapter called Lineage Report</strong>:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><small>---------------------------------------------------------------------------------------------------<br />
<code>RAW RESULTATS:<br />
Lineage report<br />
.LUCA<br />
. Bacteria<br />
. .Cyanobacteria<br />
. . Prochlorales<br />
. . .Prochlorococcaceae<br />
. . . Prochlorococcus<br />
. . . .Prochlorococcus marinus str. MIT 9515........ 315&nbsp; 4e-103 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . . .Prochlorococcus marinus str. MIT 9301........ 305&nbsp; 3e-99&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . . .Prochlorococcus marinus str. MIT 9215........ 303&nbsp; 8e-99&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . . .Prochlorococcus marinus str. AS9601.......... 301&nbsp; 4e-98&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . . .Prochlorococcus marinus str. NATL1A.......... 261&nbsp; 2e-82&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . . .Prochlorococcus marinus str. MIT 9303........ 249&nbsp; 1e-77&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Prochlorales:&nbsp;&nbsp;&nbsp;&nbsp; phytoene desaturase [Prochlorococcus mari...&nbsp;&nbsp;<br />
. . Synechococcus sp. WH 8109....................... 251&nbsp; 1e-78&nbsp; 1 hit&nbsp;&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; Carotene 7,8-desaturase [Synechococcus sp. WH ...&nbsp;&nbsp;<br />
. . Synechococcus sp. WH 7803....................... 251&nbsp; 2e-78&nbsp; 3 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; phytoene dehydrogenase [Synechococcus sp....&nbsp;&nbsp;<br />
. . Synechococcus sp. CB0205........................ 250&nbsp; 3e-78&nbsp; 1 hit&nbsp;&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Synechococcus...&nbsp;&nbsp;<br />
. . Synechococcus sp. BL107......................... 250&nbsp; 3e-78&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Synechococcus...&nbsp;&nbsp;<br />
. . Synechococcus sp. WH 8016....................... 250&nbsp; 4e-78&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Synechococcus...&nbsp;&nbsp;<br />
. . Synechococcus sp. CC9311........................ 250&nbsp; 4e-78&nbsp; 6 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; phytoene desaturase [Synechococcus sp. CC931...&nbsp;&nbsp;<br />
. . Synechococcus sp. RS9916........................ 249&nbsp; 1e-77&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Synechococcus...&nbsp;&nbsp;<br />
. . Synechococcus sp. CB0101........................ 248&nbsp; 2e-77&nbsp; 1 hit&nbsp;&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Synechococcus...&nbsp;&nbsp;<br />
. . Synechococcus sp. RCC307........................ 236&nbsp; 2e-72&nbsp; 3 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; phytoene dehydrogenase [Synechococcus sp....&nbsp;&nbsp;<br />
. . Synechococcus sp. PCC 7002...................... 217&nbsp; 2e-65&nbsp; 3 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; phytoene dehydrogenase [Synechococcus sp....&nbsp;&nbsp;<br />
. . Cyanobium sp. PCC 7001.......................... 249&nbsp; 7e-78&nbsp; 2 hits&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Cyanobium sp....&nbsp;&nbsp;<br />
. . Crocosphaera watsonii........................... 231&nbsp; 1e-70&nbsp; 1 hit&nbsp;&nbsp; Bacteria:Cyanobacteria:Chroococcales:&nbsp;&nbsp;&nbsp; 15-cis-phytoene desaturase [Crocosphaera ...&nbsp;&nbsp;<br />
[...]</code></small></div>

<p>Under the Taxonomy report &quot;<strong>Results Analysis</strong>&quot; section, build&nbsp; (with the <a href="http://annotathon.org/outils/blast_taxonomy_list.php">Taxonomy List</a> tool ) a synthetic table of your observations as follows:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><tt>Table 5: Overview of taxonomic classifications of homologs identified by BLASTp vs NR<br />
_________________________________________________________________________________________________________________<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; |<br />
| phylum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Order&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp; e-value range&nbsp; |&nbsp; number of results&nbsp; |<br />
|_______________________|___________________|__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
| [Firmicutes]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Clostridia]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Clostridiales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 5e-61 - 8.7&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 117&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Thermoanaerobacterales] |&nbsp;&nbsp;&nbsp; 7e-39 - 0.21&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Natranaerobiales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2e-27&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Halanaerobiales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp; 3e-04 - 0.56&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |___________________|__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Erysipelotrichi] | [Erysipelotrichales]&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-43 - 5.1&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |___________________|__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Bacilli]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Bacillales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 3e-38 - 9.7&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 104&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Lactobacillales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 9e-25 - 4.9&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 109&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |___________________|__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Negativicutes]&nbsp;&nbsp; | [Selenomonadales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-18 - 9.3&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|_______________________|___________________|__________________________|__________________|_____________________|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
| [Deinococcus-Thermus] | [Deinococci]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | [Deinococcales]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; 2e-50 - 1e-15 |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br />
|_______________________|___________________|__________________________|__________________|_____________________|</tt></div>

<p>Use the BLAST results (the lineage report is your friend here) to build two groups of homolog sequences which will serve, after multiple alignement, as a basis for phylogenetic tree reconstruction:</p>

<ul>
    <li>a <strong>study/in group</strong> (around 20-30 sequences) that represents homologs belonging to the same taxonomic group as your ORF. Those sequences are sampled from the list of homologs (ranged from the best hit[the first homolog] to the lowest hit [the last homolog])</li>
    <li>a <strong>external/out group</strong> (around 10-15 sequences) that represent the closest homologs not belonging to the study group (will serve to root the phylogenetic tree). The out group is usually mechanically derived by going one node up from selected in group in the tree of life. <span style="color:#FFFFFF"><em><span style="background-color:rgb(255, 0, 0)">This is arguably the most difficult part of the whole annotation procedure! You must read the </span></em></span><a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions" target="FAQ">Frequently Asked Questions</a><span style="color:#FFFFFF"><em><span style="background-color:rgb(255, 0, 0)"> section concerning in/out-group selection!</span></em></span></li>
</ul>

<p><strong>IMPORTANT:</strong> <span style="color:#FF0000"><strong>Remember that ALL sequences selected for inclusion in the study and external groups must be homologs of your ORF, i.e. their BLAST E-value must be below the E-value threshold determinded above.</strong></span></p>

<p><strong>IMPORTANT:</strong> Include under the <strong>RESULTS ANALYSIS</strong> heading of the <strong>Taxonomy report</strong> the COMPREHENSIVE list of all the sequences you have selected in the study and external groups: for each sequence, provide its accession number, the short name you have chosen for it (see below <strong>Multiple alignment of protein sequences</strong>), its BLAST E-value and score and its taxonomic group. You are welcome to use to this effect the header of the FASTA files you have obtained from the Tax Report. For instance:</p>

<div style="background:#eee; border:1px solid #ccc; padding:5px 10px"><code><small><strong>PROTOCOL:</strong></small><br />
TaxReport tool (http://oceans.embl.de/Annotathon_outils/blast_tax_report2.php) of BLASTp versus NR, default parameters</code>

<hr />
<p><code><small><strong>RESULTS ANALYSIS:</strong></small><br />
<br />
[ <em>insert here your synoptic table (see above</em>) ]<br />
<br />
[ <em>write here your descrption of the taxonomy report, justify your INGROUP and your OUTGROUP. Do mention the E-value differential between the in- and out-groups! Then list as shown below the list of sequences you selected to represent your in- and out-groups:</em> ]</code></p>

<hr /><code><strong>In-group: Cynaobacteria</strong></code>

<pre>
<small>&gt;Bac_Cya_Pro_3 [Bacteria Cyanobacteria Prochlorales]  E-value=1e-15  Bacteria;Cyanobacteria;Prochlorales;Prochlorococcaceae;Prochlorococcus; gi|488894830|ref|WP_002805954.1| zeta-carotene desaturase [Prochlorococcus marinus] 
&gt;Bac_Cya_Chr_2 [Bacteria Cyanobacteria Chroococcales]  E-value=7e-78  Bacteria;Cyanobacteria;Chroococcales;Cyanobium; gi|493968054|ref|WP_006911325.1| 15-cis-phytoene desaturase [Cyanobium sp. PCC 7001] 
&gt;Bac_Cya_Chr_3 [Bacteria Cyanobacteria Chroococcales]  E-value=1e-70  Bacteria;Cyanobacteria;Chroococcales;Crocosphaera; gi|494523610|ref|WP_007313063.1| 15-cis-phytoene desaturase [Crocosphaera watsonii] 
&gt;Bac_Cya_Chr_4 [Bacteria Cyanobacteria Chroococcales]  E-value=9e-68  Bacteria;Cyanobacteria;Chroococcales;Cyanothece; gi|218438147|ref|YP_002376476.1| phytoene desaturase [Cyanothece sp. PCC 7424] 
&gt;Bac_Cya_Chr_5 [Bacteria Cyanobacteria Chroococcales]  E-value=1e-64  Bacteria;Cyanobacteria;Chroococcales;Synechocystis; gi|16330439|ref|NP_441167.1| phytoene desaturase [Synechocystis sp. PCC 6803] 
&gt;Bac_Cya_Osc_1 [Bacteria Cyanobacteria Oscillatoriales]  E-value=3e-72  Bacteria;Cyanobacteria;Oscillatoriales; gi|497454285|ref|WP_009768483.1| phytoene desaturase [Oscillatoriales cyanobacterium JSC-12] 
&gt;Bac_Cya_Osc_3 [Bacteria Cyanobacteria Oscillatoriales]  E-value=1e-16  Bacteria;Cyanobacteria;Oscillatoriales;Microcoleus; gi|493682519|ref|WP_006632676.1| zeta-carotene desaturase [Microcoleus vaginatus] 
&gt;Bac_Cya_Nos_1 [Bacteria Cyanobacteria Nostocales]  E-value=1e-70  Bacteria;Cyanobacteria;Nostocales;Nostocaceae;Trichormus; gi|298491654|ref|YP_003721831.1| phytoene desaturase [&#39;Nostoc azollae&#39; 0708] 
&gt;Bac_Cya_Nos_2 [Bacteria Cyanobacteria Nostocales]  E-value=5e-14  Bacteria;Cyanobacteria;Nostocales;Nostocaceae;Trichormus; gi|298492908|ref|YP_003723085.1| carotene 7,8-desaturase [&#39;Nostoc azollae&#39; 0708] 
&gt;Bac_Cya_Nos_3 [Bacteria Cyanobacteria Nostocales]  E-value=2e-70  Bacteria;Cyanobacteria;Nostocales;Nostocaceae;Anabaena; gi|414079384|ref|YP_007000808.1| phytoene desaturase [Anabaena sp. 90] 
&gt;Bac_Cya_Sti_1 [Bacteria Cyanobacteria Stigonematales]  E-value=2e-68  Bacteria;Cyanobacteria;Stigonematales;Fischerella; gi|497072507|ref|WP_009458406.1| 15-cis-phytoene desaturase [Fischerella] 
</small></pre>

<hr /><code><strong>Out-group: other bacteria which are not Cyanobacteria</strong><strong> (Proteobacteria, Chloroflexi, Chlorobi, Acidobacteria, ....)</strong></code>

<pre>
<small>&gt;Bac_Chl_Chl_1 [Bacteria Chloroflexi Chloroflexales]  E-value=3e-32  Bacteria;Chloroflexi;Chloroflexales;Chloroflexaceae;Chloroflexus; gi|163847906|ref|YP_001635950.1| carotene 7,8-desaturase [Chloroflexus aurantiacus J-10-fl] 
&gt;Bac_Chl_Chl_2 [Bacteria Chlorobi Chlorobia]  E-value=2e-30  Bacteria;Chlorobi;Chlorobia;Chlorobiales;Chlorobiaceae;Chlorobaculum; gi|193212415|ref|YP_001998368.1| carotene 7,8-desaturase [Chlorobaculum parvum NCIB 8327] 
&gt;Bac_Aci_Can_1 [Bacteria Acidobacteria Candidatus Chloracidobacterium]  E-value=2e-27  Bacteria;Acidobacteria;Candidatus Chloracidobacterium; gi|347753771|ref|YP_004861335.1| hypothetical protein [Candidatus Chloracidobacterium thermophilum B] 
&gt;Bac_Fir_Bac_1 [Bacteria Firmicutes Bacillales]  E-value=2e-14  Bacteria;Firmicutes;Bacillales;Bacillaceae;Bacillus; gi|407961641|dbj|BAM54881.1| zeta-carotene desaturase [Bacillus subtilis BEST7613]
&gt;Bac_Pla_Pla_1 [Bacteria Planctomycetes Planctomycetacia]  E-value=2e-11  Bacteria;Planctomycetes;Planctomycetacia;Planctomycetales;Planctomycetaceae;Singulisphaera; gi|430745940|ref|YP_007205069.1|</small></pre>
</div>
{% endif %}


<a name=process><h4>Biological process &amp; molecular function</h4>

<p>When your ORF&#39;s homologs have known functions, or if the ORF presents known conserved domains, select in the available &quot;Biological Process&quot; &amp; &quot;Molecular Function&quot; lists the most appropriate terms that most specifically describe your proposed ORF functional hypotheses. These terms are a subset of the comprehensive and hierachical &quot;<a href="http://www.geneontology.org">Gene Ontology</a>&quot;, most often refered to as <strong>GO annotations</strong>:</p>

<ul>
    <li>Molecular Function: biochemical activity of the protein (e.g. kinase)</li>
    <li>Biological Process: role of this activity in the cell (e.g. signal transduction)</li>
</ul>

<p>These GO annotations are frequently assigned records in well annotated databanks such as SWISSPROT or INTERPRO; use the GO terms associated to your ORF&#39;s closest homologs or conserved doamins to help you assign the most appropriate terms.</p>

<h4>Gene symbol</h4>

<p>In the event that your ORF has highly convincing homology with a family of well characterized proteins of known function, whose gene symbol nomenclature appears uniform and stable, you can propose in the <strong>Gene symbol</strong> field a putative gene symbol for your ORF. If the homologs have no gene symbol, or if their symbols vary to a large extent, do not invent a new symbol, just leave this field empty!</p>

<p>For gene symbol examples, check out those already attributed to metagenome fragments during the Annotathon on <a href="http://annotathon.univ-mrs.fr/Metagenes/index.php/Category:Gene_symbols"> Metagenes</a>.</p>

<a name=conclusion><h4>Conclusion</h4>

<p>This field is central to your evaluation: write up your interpretations and hypotheses based on the observations you have made in the preceeding &quot;<strong>RESULTS ANALYSES</strong>&quot;. Imagine you are trying to convince a very sceptical colleague: use rigorous argumentation, cite precise evidence and numerical values when ever possible, highlight important findings, cross information from independent sources. Remember that <em>in silico</em> analyses generally do not constitute final proof, only suggestions. Terms such as &quot;putative&quot;, &quot;suggests&quot; or &quot;probably&quot; can show understanding of the limitations of computational biology results.</p>

<p>Make sure you have at least covered:</p>

<ul>
    <li>arguments supporting your coding versus non-coding hypothesis; make sure you discuss the start position of your ORF (refer to the FAQ for all the subtlities and pitfalls)!</li>
    <li><strong>functionnal</strong> predictions for the protein, both at the biochemical level (e.g. &quot;ubiquitin conjugation enzyme&quot;), and the biological role at the organism level (e.g. &quot;implicated in the control of the cell cycle&quot;). Make careful use of annotations available for sequence homologs or conserved domains</li>
    <li>your taxonomic classification hypothesis for the organism carrying this DNA fragment.</li>
</ul>

<p>Some common pitfalls to avoid at all cost:</p>

<ul>
    <li>explain the theoretical aims and methodology of the tools used (please consider the readers knowledgable in these matters)</li>
    <li>describe on which button you clicked (please consider that readers are highly familiar with running BLASTs)</li>
    <li>write in telegraphic style</li>
    <li>dilute, inflate, digress in the hope that evaluation is proportional to word volume</li>
    <li>copy raw results <em>in extenso</em> in the discussion when the reader has direct access to them in the appropriate fields</li>
    <li>write linearly without any structure, or purely chronologically</li>
    <li>insulate the analyses from each other (you can, and certainly should, make reference to the multiple alignment while discussing the ORF boundaries)</li>
    <li>conclude without references to the results and observations</li>
    <li>propose hypotheses without providing the supporting evidence</li>
    <li>make approximate statements, such as citing BLAST homologs or conserved domains without citing their respective E-values</li>
</ul>

<p>Concentrate on producing a <strong><span style="background-color:#FFFF00">scientific, structured, synthetic and rigorous argumentation</span></strong><span style="background-color:#FFFF00"> t</span>hat will hold up to peer scrutiny!</p>
<a name=evaluations><h2>Evaluations</h2></a><p>Due to lack of manpower, we are no longer able to offer evaluations of annotations outside of specific university teams!</p>
{% endblock %}
</body>
</html>
