{% load static %}
<html>
  <head>

    <title>Annotathon</title>
 <link rel="stylesheet" href="{% static "css/my.css" %}"><link rel="shortcut icon" href="logos/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta name="verify-v1" content="U/rDGCxX1oodScOvjGxIsu4frRGd9ia/+QzzvLsyRVk=" />


    <style type="text/css" media="screen">
    #ftb {
        position: absolute;
        top: expression((document.documentElement.scrollTop || document.body.scrollTop) + this.offsetHeight );
    }
    </style>

    <![endif]--></head>
<body onload="Up()"><div class="menu"><form name="menu" method="POST" action="http://annotathon.org/" enctype="multipart/form-data"><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src="http://annotathon.org//logos/compass24.png" style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;">
    {% block content %}
    {% endblock %}

<tr><td>
<p></p></br>
</td></tr>



</body>
</html>
