{% include "helloDJ/home.html" %}
{% load static %}

<html>
<body>

{% block content %}   

<div id="helpmenu" style="display:none;"><div class=hop><table width=100%><tr><td><a href="javascript:montre('helpmenu')"> <span class=hop>Help Options &nbsp; [x]</span></a></td><td align=right>Annotathon v1.04</td></tr></table></div><ul><li><img src=logos/compass_s.png align=middle><li><a href="sms2/" target="SMS">SMS</a></li><li><a href=http://www.ncbi.nlm.nih.gov/ target=NCBI>NCBI</a></li><li><a href=http://www.ebi.ac.uk/Tools/ target=EBI>EBI</a></li><li><a href=http://www.phylogeny.fr target=PF>Phylogeny.fr</a></li><li><a href=http://phylogeny.lirmm.fr target=PF2>Phylogeny.lirmm.fr</a></li><li><a href=http://www.ncbi.nlm.nih.gov/Taxonomy/ target=NTAX>Taxonomy</a></li><li><a href=http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions target=RJ>FAQ</a></li><li><a href=http://annotathon.org/Metagenes/ target=MG>Metagenes</a></li><li><script type="text/javascript" language="javascript">
<!--
document.write('<a href="mailto:'+ptCode('mnivu.fr##-a#hinal.p@ugam#sc__p#a',3,3)+'">Contact</a>');
//-->
</script></li><li>< target=bi>About</a></ul></div></form></div></br>
<p class=rouge>Fill the fields with care.</p>



<table>
<tr>
<strong>Student : {{ connected }}</strong></td>

</tr>
<br>



<div class="col_user"><form action="/blast/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" value="Sauvegarder vos annotations" />    
    
</form>
</div>


</table></div></form></div>
{% endblock %}
</body>
</html>