{% include "helloDJ/home.html" %}
{% load static %}
<html>
  <head>

    <title>Annotathon - Corrections</title>
 {% block content %}
<tr><td>
<p></p></br>
</tr></td>


<h2>Correction :</h2><br>
<h3>Liste des étudiants :</h3><br>
<ul id="menu">


{% for p,u in p1 %} 
  <tr>
    
    <td><a href="{{ u }}">{{ p.username }}</a></td>
  </tr>
{% endfor %}







{% endblock %}
</body>
</html>