{% include "helloDJ/home.html" %}
{% load static %}

{% block content %}
<html>
  <head>

    <title>Annotations details</title>
 <link rel="stylesheet" href="{% static "css/my.css" %}"><link rel="shortcut icon" href="logos/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >



  </head>

  <body>

    <h1>Annotations de sequences</h1>

  
    <ul id="menu">
      <li><a>Sequence genomique</li></a>
      <p>{{ ref.Sequence_genomique }}</p>
      <br>
    
    
      <li><a>Protocole</li></a>
      <p>{{ ref.Protocole }}</p>
      <br>
    
      <li><a>Resultats_bruts</li></a>
      <p>{{ ref.Resultats_Bruts }}</p>
      <br>
    
      <li><a>Analyse_resultats</li></a>
      <p>{{ ref.Analyse_Resultats }}</p>
    </li>
      <br>
{% if bla in p1 %}
    <h1>Annotations de Blast</h1>

      <li><a>Sequence genomique</li></a>
      <p>{{ bla.Sequence_genomique }}</p>
      <br>
    
    
      <li><a>Protocole</li></a>
      <p>{{ bla.Protocole }}</p>
      <br>
    
      <li><a>Resultats_bruts</li></a>
      <p>{{ bla.Resultats_Bruts }}</p>
      <br>
    
      <li><a>Analyse_resultats</li></a>
      <p>{{ bla.Analyse_Resultats }}</p>
    </li>
      <br>
{% endif %}

  <form action="/correction/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="action" value="Publier commentaires" />    
    
  </form>
  
  


  </body>
  </html>
   {% endblock %}