{% load static %}
<html>
  <head>

    <title>Add new module</title>
 <link rel="stylesheet" href="{% static "css/my.css" %}"><link rel="shortcut icon" href="logos/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta name="verify-v1" content="U/rDGCxX1oodScOvjGxIsu4frRGd9ia/+QzzvLsyRVk=" />


	<style type="text/css" media="screen">
	#ftb {
		position: absolute;
		top: expression((document.documentElement.scrollTop || document.body.scrollTop) + this.offsetHeight );
	}
	</style>

	<![endif]--></head>
<body><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src="http://annotathon.org//logos/compass24.png" style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;">
<ul id="menu">
{% if user.is_superuser %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% elif user.is_staff %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% else %}
<li><a  href="login">Login</a></li></br>
{% endif %}
</ul>
<input type="hidden" name="axm" value="9284519215aa654db4ac0c2.81658176"><td><img src="logos/france.png"><a href="francais">français</a></td></tr></table>
<ul id="menu">

    <li><a  href="http://127.0.0.1:8000/home">Home</a></li>

    <li><a>Help</a>
        <ul>
            <li><a href="http://annotathon.org/sms2/">SMS</a></li>
            <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI</a></li>
            <li><a href="https://www.ebi.ac.uk/services">EBI</a></li>
            <li><a href="http://www.phylogeny.fr/">Phylogeny.fr</a></li>
            <li><a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions">FAQ</a></li>
            <li><a href="mailto:pascal.hingamp@gmail.com">Contact</a></li>
        </ul>
    </li>



{% if user.is_superuser %}
    <li><a href="http://127.0.0.1:8000/new_account">Add new users</a></li>
    <li><a href="http://127.0.0.1:8000/correction">Annotations Correction</a></li>
    <li><a href="http://127.0.0.1:8000/modules">Add new module</a></li>
    <li><a href="http://127.0.0.1:8000/choicemodules">Modules choices</a></li>
{% elif user.is_staff %}
    <li><a>Access to annotations</a>
        <ul>
            <li><a href="http://127.0.0.1:8000/seq_gen">ORF Finder</a></li>
            <li><a href="http://127.0.0.1:8000/blast">Blast</a></li>

        </ul>
    </li>
    <li><a>Outils</a>
        <ul>
            <li><a href="http://127.0.0.1:8000/orfinder">ORFinder</a></li>
            <li><a href="http://127.0.0.1:8000/outilblast">Perform a Blast P</a></li>

        </ul>
    </li>
    <li><a href="http://127.0.0.1:8000/your_account">Your account</a></li>
{% else %}
<li><a  href="http://127.0.0.1:8000/new_account">New Account</a></li>
{% endif %}


</ul><br>

<table><tr><td></td></tr></table>

<strong>Dernier module ajouté</strong>: <em>{{ module_name.nom_du_module }}</em> : <br>

<strong>Ce qu'il faut selectionner dans la liste ci-dessous pour ajouter une description à notre dernier module ajouté : <em>{{ nom_module }}</em></strong> <br>



<div>
<form action="../descript/" method="post">
    {% csrf_token %}
    {{ desc }}
    <br>
    <input type="submit" name="action" value="Ajouter une description">
</form>
</div>