{% extends "helloDJ/base.html" %}

{% block content %}
<link rel="shortcut icon" href="logos/favicon.ico" />

<ul id="menu">
{% if user.is_superuser %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% elif user.is_staff %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% else %}
<li><a  href="login">Login</a></li></br>
{% endif %}
</ul>
<ul>

<input type="hidden" name="axm" value="9284519215aa654db4ac0c2.81658176"><td><img src="logos/france.png"><a href="francais">français</a></td></tr></table>
<ul id="menu">
    
    <li><a  href="http://127.0.0.1:8000/home">Home</a></li>
    
    <li><a>Help</a>
        <ul>
            <li><a href="http://annotathon.org/sms2/">SMS</a></li>
            <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI</a></li>
            <li><a href="https://www.ebi.ac.uk/services">EBI</a></li>
            <li><a href="http://www.phylogeny.fr/">Phylogeny.fr</a></li>
            <li><a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions">FAQ</a></li>
            <li><a href="mailto:pascal.hingamp@gmail.com">Contact</a></li>
        </ul>
    </li>
    
    

{% if user.is_superuser %}
    <li><a href="http://127.0.0.1:8000/new_account">Add new users</a></li>
    <li><a href="http://127.0.0.1:8000/correction">Annotations Correction</a>
      
    </li> 
    <li><a href="http://127.0.0.1:8000/modules">Add new module</a></li>
    <li><a href="http://127.0.0.1:8000/choicemodules">Modules choices</a></li>
{% elif user.is_staff %}
    <li><a>Access to annotations</a>
        <ul>
            {% if ORFinder.ORFinder %}
            <li><a href="http://127.0.0.1:8000/seq_gen">ORF Finder</a></li>
        {% endif %}
            {% if Blast.Blast_P %}
            <li><a href="http://127.0.0.1:8000/blast">Blast</a></li>
        {% endif %}
      {% if mod.protocole %}
            <li><a href="http://127.0.0.1:8000/domaines">{{ modna.nom_du_module }}</a></li>
      {% endif %}      
        </ul>
      
    </li>
    <li><a>Tools</a>
        <ul>
            <li><a href="http://127.0.0.1:8000/orfinder">ORFinder</a></li>
            <li><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome">Perform a Blast P</a></li>
            
        </ul>
    </li>
    <li><a href="http://127.0.0.1:8000/your_account">Your account</a></li>
{% else %}
<li><a  href="http://127.0.0.1:8000/new_account">New Account</a></li>
{% endif %}


</ul>

{% for line in lines %}
 <li style="color:{% cycle 'black' 'blue' 'green' %}"> {{ line.text }}</li>
{% endfor %}
</ul>

{% endblock %}



