{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html><head><title>Annotathon!</title><link rel="stylesheet" type="text/css" href={% static "css/my.css" %}><link rel="shortcut icon" href="logos/favicon.ico" /><meta http-equiv="Content-Type" content="text/html;charset=utf-8" ><meta name="verify-v1" content="U/rDGCxX1oodScOvjGxIsu4frRGd9ia/+QzzvLsyRVk=" /><script  src="src/annotathon.js" type="text/javascript"></script><script src="ckeditor/ckeditor.js"></script><!--[if lte IE 6]>
	<style type="text/css" media="screen">
	#ftb {
		position: absolute;
		top: expression((document.documentElement.scrollTop || document.body.scrollTop) + this.offsetHeight );
	}
	</style>
	<![endif]--></head><body onload="ircloop()"><div class="menu"><form name="menu" method="POST" action="http://annotathon.org/" enctype="multipart/form-data"><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src=logos/compass24.png style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;"><input type="hidden" name="axm" value="11838961585ab9f7d4a36746.46687927"><span class=institution>Bienvenue {user} </span><input type="submit" name="action" value="Déconnection"><br> {user 1} - {user 2} <br></td><td style="text-align:right;"><a href="/?language=english">english</a> <div id="chat"></div><input type="hidden" id="irc_version" value="short" ></td></tr></table><ul id="navlist"><li><a  href="?actionjs=stats">Accueil</a></li><li><a  href="?actionjs=rules">Règles du jeu</a></li><li><a  id="current" href="?actionjs=cart">Annotations</a></li><li><a  href="?actionjs=forum"><img src=logos/new_post.gif border=0>Forum</a></li><li><a  href="?actionjs=irc">Chat</a></li><li><a  href="?actionjs=browse">Explorer</a></li><li><a  href="?actionjs=profile">Compte</a></li><li id="help"><a href="javascript:montre('helpmenu')">Aide</a></li></ul><div id="helpmenu" style="display:none;"><div class=hop><table width=100%><tr><td><a href="javascript:montre('helpmenu')"> <span class=hop>Options d'Aide &nbsp; [x]</span></a></td><td align=right>Annotathon v1.04</td></tr></table></div><ul><li><img src=http://annotathon.org//logos/compass_s.png align=middle><li><a href="sms2/" target="SMS">SMS</a></li><li><a href=http://www.ncbi.nlm.nih.gov/ target=NCBI>NCBI</a></li><li><a href=http://www.ebi.ac.uk/Tools/ target=EBI>EBI</a></li><li><a href=http://www.phylogeny.fr target=PF>Phylogeny.fr</a></li><li><a href=http://phylogeny.lirmm.fr target=PF2>Phylogeny.lirmm.fr</a></li><li><a href=http://www.ncbi.nlm.nih.gov/Taxonomy/ target=NTAX>Taxonomy</a></li><li><a href=http://annotathon.org/Metagenes/index.php/Annotathon:_foire_aux_questions target=RJ>FAQ</a></li><li><a href=http://annotathon.org/Metagenes/ target=MG>Métagènes</a></li><li><a href="mailto:pascal.hingamp@gmail.com">Contact</a></li><li><a href=http://annotathon.org/Metagenes/index.php/Annotathon_fr target=bi>A propos</a></ul></div></form></div><div class="main"><form name="main" action="http://annotathon.org/" method="POST"  enctype="multipart/form-data"><input type=hidden name=actionjs value=""><input type="hidden" name="axm" value="11838961585ab9f7d4a36746.46687927">
</div></td>
</tr>
<p><input type=hidden name=orf_id value="82645">
<table>
<tr>
<td  class="col_orf"><b>Code</b></td>
<td  class="col_orf"><b>Modifié le</b></td>
<td  class="col_orf"><b> &nbsp;Actions</b></td>
<td  class="col_orf"><b>Etape</b></td>
<td  class="col_orf"><b>Evaluation<br>finale</b><br><img src=logos/barre_blue.png height=8 width=140></td>
<td  class="col_orf"><b>Provenance </b></td>
<td  class="col_orf"><b>Longueur </b></td>
<td  class="col_orf"><b>Statut &nbsp;</b></td>
<td  class="col_orf"><b>  &nbsp;Gène &nbsp;</b></td>
<td  class="col_orf"><b> &nbsp;  &nbsp;Conclusion </b></td>
</tr>
<tr>
<td  class="col_orf"><span class=mini>TO109M_5998040.5</span></td>
<td  class="col_cart"><span class=minijoli>2016-10-04 14:30:14</span></td>
<td  class="col_cart"><img src=logos/view_s.png border=0 onclick="send(78694,'Consulter ses annotations')"  title="Afficher" onMouseOver="document.body.style.cursor='pointer'; return true;" onMouseOut="document.body.style.cursor='auto'; return true;" ></td>
<td  class="col_cart"><span class=mini><div class=stage_e>Terminé</div></span></td>
<td  class="col_cart"><img src=logos/barre_blue.png height=8 width=-138>&nbsp;</td>
<td  class="col_cart"><span class=mini> :  :  : Puerto Ayora-Guayaquil station 109 MESO</span></td>
<td  class="col_cart"><span class=mini>1059 bp</span></td>
<td  class="col_cart"><span class=mini>codant <span class=ERROR>Erreur!</span></span></td>
<td  class="col_cart"><span class=mini></span></td>
<td  class="col_cart"><span class=mini>...</span></td>
</tr>
<tr>
<td  class="col_orf"><span class=mini>TO42D_5998030.128</span></td>
<td  class="col_cart"><span class=minijoli>2017-01-17 16:19:19</span></td>
<td  class="col_cart"><img src=logos/view_s.png border=0 onclick="send(82645,'Consulter ses annotations')"  title="Afficher" onMouseOver="document.body.style.cursor='pointer'; return true;" onMouseOut="document.body.style.cursor='auto'; return true;" ></td>
<td  class="col_cart"><span class=mini><div class=stage_e>Terminé</div></span></td>
<td  class="col_cart"><img src=logos/barre_blue.png height=8 width=131>&nbsp;</td>
<td  class="col_cart"><span class=mini> :  :  : Mumbai-Malé station 42 DCM</span></td>
<td  class="col_cart"><span class=mini>905 bp</span></td>
<td  class="col_cart"><span class=mini>codant</span></td>
<td  class="col_cart"><span class=mini>MetG</span></td>
<td  class="col_cart"><span class=mini>Nous avons identifi&eacute...</span></td>
</tr>
<tr>
<td  class="col_orf"><span class=mini>TO52S_5998020.3</span></td>
<td  class="col_cart"><span class=minijoli>2016-09-13 15:28:24</span></td>
<td  class="col_cart"><img src=logos/view_s.png border=0 onclick="send(83138,'Consulter ses annotations')"  title="Afficher" onMouseOver="document.body.style.cursor='pointer'; return true;" onMouseOut="document.body.style.cursor='auto'; return true;" ></td>
<td  class="col_cart"><span class=mini><div class=stage_e>Terminé</div></span></td>
<td  class="col_cart"><img src=logos/barre_blue.png height=8 width=-138>&nbsp;</td>
<td  class="col_cart"><span class=mini> :  :  : StDenis-Antseranana station 52 SUR</span></td>
<td  class="col_cart"><span class=mini>1015 bp</span></td>
<td  class="col_cart"><span class=mini>codant <span class=ERROR>Erreur!</span></span></td>
<td  class="col_cart"><span class=mini></span></td>
<td  class="col_cart"><span class=mini>...</span></td>
</tr>
<tr>
<td  class="col_orf"><span class=mini>TO65D_5998050.101</span></td>
<td  class="col_cart"><span class=minijoli>2017-01-15 20:32:19</span></td>
<td  class="col_cart"><img src=logos/view_s.png border=0 onclick="send(79010,'Consulter ses annotations')"  title="Afficher" onMouseOver="document.body.style.cursor='pointer'; return true;" onMouseOut="document.body.style.cursor='auto'; return true;" ></td>
<td  class="col_cart"><span class=mini><div class=stage_e>Terminé</div></span></td>
<td  class="col_cart"><img src=logos/barre_blue.png height=8 width=105>&nbsp;</td>
<td  class="col_cart"><span class=mini> :  :  : Mamoudzou-CapeTown station 65 DCM</span></td>
<td  class="col_cart"><span class=mini>1100 bp</span></td>
<td  class="col_cart"><span class=mini>codant</span></td>
<td  class="col_cart"><span class=mini>atpB</span></td>
<td  class="col_cart"><span class=mini>Nous avons identifi&eacute...</span></td>
</tr>
<tr>
<td  class="col_orf"><span class=mini>TO82D_5998010.16</span></td>
<td  class="col_cart"><span class=minijoli>2016-09-22 14:30:06</span></td>
<td  class="col_cart"><img src=logos/view_s.png border=0 onclick="send(80500,'Consulter ses annotations')"  title="Afficher" onMouseOver="document.body.style.cursor='pointer'; return true;" onMouseOut="document.body.style.cursor='auto'; return true;" ></td>
<td  class="col_cart"><span class=mini><div class=stage_e>Terminé</div></span></td>
<td  class="col_cart"><img src=logos/barre_blue.png height=8 width=-14>&nbsp;</td>
<td  class="col_cart"><span class=mini> :  :  : Buenos Aires-Ushuaia station 82 DCM</span></td>
<td  class="col_cart"><span class=mini>1039 bp</span></td>
<td  class="col_cart"><span class=mini>codant</span></td>
<td  class="col_cart"><span class=mini></span></td>
<td  class="col_cart"><span class=mini>...</span></td>
</tr>
</table><h2>Annotations de TO42D_5998030.128</h2>
<table>
<tr>
<td  class="col_annot">version</td>
<td  class="default"><select name=version_TO42D_5998030 onChange="sendView('TO42D_5998030')"><option value=0 >--------- historique des versions -------------<option value=128 SELECTED>version 128  (2017-01-17 16:19:19)<option value=105>version 105  (2016-11-23 21:56:31)<option value=1>version 1  (0000-00-00 00:00:00)</select><input type=hidden name=current_version value=128><input type=hidden name=orf_code value=""> </td>
</tr>
<tr>
<td  class="col_annot">Message</td>
<td  class="default"><p class=minijoli>Si vous souhaitez ouvrir un nouveau fil de discussion sur le forum, veuillez utiliser le formulaire suivant:<br><select name="forum_id"><option value=0  SELECTED>-- Choisissez un forum --<option value=1>Annotathon: généralités, fonctionnement & bugs<option value=2>Recherche d'ORF<option value=3>Recherche d'homologues: BLAST<option value=4>Alignement multiple: CLUSTALW<option value=5>Analyse phylogénétique<option value=8>Domaines conservés: INTERPRO<option value=7>Fonctions moléculaires & Processus biologiques<option value=6>Conclusion</select><br>Fragment concerné: <b>TO42D_5998030.128</b><br><input type=hidden name=orf_vcode value="TO42D_5998030.128">Sujet:<br> <input type=text size=90 name=forum_subject value=""><br>Message:<br><textarea  wrap="virtual" cols="150" rows="10"  name="forum_msg" id="forum_msg" class="largebox bwhite"></textarea><br><input type="submit" name="action" value="Poster le message"></td>
</tr>
<tr>
<td  class="col_annot">Séquence génomique</td>
<td  class="default"><pre class=seq>>TO42D_5998030 [ TARA OCEAN 35 stations :  :  :  : Mumbai-Malé station 42 DCM ]
ATAGTCAATAAATATCACAATGAATTTTTGGGGTATTGGGAAAAACTAGGTATTTCTTGGGATAACTATACAACAACAATGACTGATACTCATATAGAGG
TTGTCCACGATATATTCAATAAACTTCTAGAAAAAGGATTTATCGACAAGCAAAAATCTTTACAAGCATATGACCCTGGGGAAAATAAATTTTTACCAGA
TAGGTATGTAGAGGGCACTTGTCCTTACTGCTCTTATAGTGAAGCAAGAGGTGACCAGTGTGATAGCTGTAGTAAAACTCTTGATCCAGAAGAATTAATA
AATCCAATAAGTAAAATATCTGGAAACAAAGCAGAATTTAAAGAGACTGAACATTTTTTCTTAAAACTAAGTCTGCTTGAGGACCAGTTAGCATCATGGC
TTGATGAAAAAGAGGGATGGCGACCTCATGTAATAAATTGGGCTAAATCATTCGTAAAAGACGGATTACAAGACAGAGCGATAACAAGAGATTTAGATTG
GGGCATAGAAATACCTGTAGATGATCTTGGTTCTGGAAAAAAAATATATGTTTGGTTTGAAGCAGTCATCGGTTATTTATCTGCATCAAAAGAATGGGCA
AAAAATAAAGGAAACGAAAAAGAGTGGACGGAATGGTGGAATAATGAATCTGCTGAAACTTATTACTTTATAGGTAAAGATAATGTCCCATTTCATGCTG
TAATCTGGCCAAGCATTTTGCTTGCATATGAAGGGTTAAACCTACCAACAAATGTGCCTGCTAATCAATATATATTAGTAAAAGGGGAAAAAGCTTCTGC
AAGCAGGGGTGTCGGAAAAACCCTCCAGGAATATCTTGATCAATGGAATCCAGATGCTTTACGATATGCTTTGGCTTCCGCATTGCCAGAGCAATCAGAT
ACTGA
</pre></td>
</tr>
<tr>
<td  class="col_annot">Provenance</td>
<td  class="default"> :  :  : Mumbai-Malé station 42 DCM<br>GPS: 5,992733N 73,9045E<br>Prélèvement le 04-Apr-2010 à 11:34:30<br>Filtré à: 0.2-1.6 microns<br>Profondeur: DCMm (fond: m) <br>Température: 27°C</td>
</tr>
<tr>
<td  class="col_annot">Longueur</td>
<td  class="default">905 pb</td>
</tr>
<tr>
<td  class="col_annot">Statut</td>
<td  class="default">codant</td>
</tr>
<tr>
<td  class="col_annot">ORF</td>
<td  class="default"> [1 - 903/905] sens direct</td>
</tr>
<tr>
<td  class="col_annot">Traduction</td>
<td  class="default"><pre class=seq>>TO42D_5998030 Traduction [1-903 sens direct]
IVNKYHNEFLGYWEKLGISWDNYTTTMTDTHIEVVHDIFNKLLEKGFIDKQKSLQAYDPGENKFLPDRYVEGTCPYCSYSEARGDQCDSCSKTLDPEELI
NPISKISGNKAEFKETEHFFLKLSLLEDQLASWLDEKEGWRPHVINWAKSFVKDGLQDRAITRDLDWGIEIPVDDLGSGKKIYVWFEAVIGYLSASKEWA
KNKGNEKEWTEWWNNESAETYYFIGKDNVPFHAVIWPSILLAYEGLNLPTNVPANQYILVKGEKASASRGVGKTLQEYLDQWNPDALRYALASALPEQSD
T
</span></td>
</tr>
<tr>
<td  class="col_annot">Taille polypeptide</td>
<td  class="default"><span class=error></span><p>301 aa -  kDa</td>
</tr>
<tr>
<td  class="col_annot">Recherche ORF</td>
<td  class="default"><span class=error>
<br>

<br>

<br>
</span><p><div class="msgbox task" data-id=1><p>PROTOCOLE:</p>

<p>a) brin direct : SMS ORF Finder,&nbsp;http://annotathon.org/sms2/orf_find.html , initiation : any codon, cadre 1,2,3 brin direct, 60 codons minimum, code g&eacute;n&eacute;tique standard</p>

<p>b) brin reverse :&nbsp;</p>

<p>SMS ORF Finder,&nbsp;http://annotathon.org/sms2/orf_find.html , initiation : any codon, cadre 1,2,3 brin reverse, 60 codons minimum, code g&eacute;n&eacute;tique standard</p>

<hr />
<p><strong>Figure 1</strong>: Diagramme de r&eacute;partition des ORFs sur le fragment d&#39;ADN&nbsp;TO42D_5998030 : &nbsp; &nbsp; &nbsp; &nbsp;</p>

<pre>
            (1)<span style="background-color:rgb(255, 160, 122)">==ORF1==========================================================================&gt;(903)</span>
DIRECT :     1 ---------------------------------------------------------------------------------------- 905
INDRECT :    905 ---------------------------------------------------------------------------------------- 1
                         (672)<span style="background-color:rgb(0, 255, 0)">&lt;====================ORF2======</span>(481)
                    (766)<span style="background-color:rgb(255, 255, 0)">&lt;============ORF3==========</span>(569)</pre>

<p><span style="background-color:rgb(255, 160, 122)">==ORF1==&gt;</span>&nbsp;KNOWN (ORF &eacute;tudi&eacute;e ici)<br />
<span style="background-color:rgb(0, 255, 0)">==ORF2==&gt;</span> Faux positif<br />
<span style="background-color:rgb(255, 255, 0)">==ORF3==&gt;</span> Faux positif</p>

<p>&nbsp;</p>

<hr />
<p><strong>Table 1</strong>: Liste des ORFs d&eacute;tect&eacute;s dans le fragment d&#39;ADN m&eacute;tag&eacute;nomique</p>

<table align="center" border="1" cellpadding="1" cellspacing="1" style="height:153px; width:1084px">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="text-align:center">Taille&nbsp;<br />
			(nucl&eacute;otides)</td>
			<td>Taille&nbsp;(aa)&nbsp;</td>
			<td>Brin</td>
			<td>position&nbsp;de d&eacute;but</td>
			<td>position de fin</td>
			<td>ORF complet en 5&#39;</td>
			<td>ORF complet en 3&#39;</td>
			<td>Nb d&#39;alignements BLAST<br />
			NR EV&lt;1E-10</td>
			<td>Classification de l&#39;ORF</td>
		</tr>
		<tr>
			<td>ORF1</td>
			<td style="text-align:center">903</td>
			<td style="text-align:center">301</td>
			<td>direct</td>
			<td style="text-align:center">1</td>
			<td style="text-align:center">903</td>
			<td>non</td>
			<td>non</td>
			<td style="text-align:center">&gt;5000</td>
			<td style="vertical-align:baseline">KNOWN (&eacute;tudi&eacute;e ici)<br />
			&nbsp;</td>
		</tr>
		<tr>
			<td>ORF2</td>
			<td style="text-align:center">189</td>
			<td style="text-align:center">63</td>
			<td>reverse</td>
			<td style="text-align:center">481</td>
			<td style="text-align:center">669</td>
			<td>non</td>
			<td>oui</td>
			<td style="text-align:center">0</td>
			<td>
			<p>Faux positif</p>
			</td>
		</tr>
		<tr>
			<td>ORF3</td>
			<td style="text-align:center">195</td>
			<td style="text-align:center">65</td>
			<td>reverse</td>
			<td style="text-align:center">569</td>
			<td style="text-align:center">763</td>
			<td>non</td>
			<td>oui</td>
			<td style="text-align:center">
			<p>&nbsp;0</p>
			</td>
			<td>Faux positif</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>


    {% block content %}
    {% endblock %} 
  </body>
</html>
