{% load static %}
<html>
  <head>

    <title>Annotathon</title>
 <link rel="stylesheet" href="{% static "css/my.css" %}"><link rel="shortcut icon" href="logos/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta name="verify-v1" content="U/rDGCxX1oodScOvjGxIsu4frRGd9ia/+QzzvLsyRVk=" />
	<style type="text/css" media="screen">
	#ftb {
		position: absolute;
		top: expression((document.documentElement.scrollTop || document.body.scrollTop) + this.offsetHeight );
	}
	</style>
	<![endif]--></head>
<body onload="Up()"><div class="menu"><form name="menu" method="POST" action="http://annotathon.org/" enctype="multipart/form-data"><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src="http://annotathon.org//logos/compass24.png" style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;"><input type="hidden" name="axm" value="9284519215aa654db4ac0c2.81658176"><div class=ministats>Username: <input type="text" size="15" maxlength="15" name="login" value=""> Password: <input type="password" size="15" maxlength="15" name="pwd" value=""> <input type="submit" name="action" value="Connect"></div></td><td><a href="/?actionjs=rules&language=français">français</a> </td></tr></table>
<ul id="menu">
    <li><a  href="?actionjs=stats">Home</a></li>
    <li><a  href="?actionjs=rulebook">Rule Book</a></li>
    <li><a  href="?actionjs=forum">Forum</a></li>
    <li><a  href="?actionjs=newuser">New Account</a></li> 
    <li><a href="javascript:montre('helpmenu')">Help</a></li>
</ul>

<tr><td>
<p></p></br>
</tr></td></br>
<p class="rouge">Successfully logout !</p>


    {% block content %}
    {% endblock %}
</body>
</html>
