{% include "helloDJ/home.html" %}
{% load static %}
<html>
  <head>

    <title>Modules choices</title>
{% block content %}


  </head>
<tr><td>
<p></p></br>
</tr></td>

<h1>Choix des modules utilisables par les étudiants</h1>

<div>
<form action="/choicemodules/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" value="Modifier modules utilisables">
</form>
</div>
{{ last_module.nom_du_module}}

{% endblock %}
</body>   
</html>