{% include "helloDJ/home.html" %}
{% load static %}
<html>
<head>

    <title>Add new module</title>

{% block content %}

<br>

<table><tr><td></td></tr></table>



<div>
<form action="/modules/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="action" value="Ajouter un nouveau module">
</form>
    <ul id="menu">

        <li><a href="descript">Ajouter description</a></li><br>
        <table><tr><td></td></tr></table>
        <li><a href="options">Ajouter des options au module</a></li>
    </ul>
</div>


<br>


{% endblock %}
</body>
</html>





























