{% include "helloDJ/home.html" %}
{% load static %}
<html>
  <head>

    <title>Add new module</title>

{% block content %}
 <br>


<table><tr><td></td></tr></table>

<strong>Dernier module ajouté</strong>: <em>{{ module_name.nom_du_module }}</em> : <br>

<strong>Ce qu'il faut selectionner dans la liste ci-dessous pour ajouter des options à notre dernier module ajouté : <em>{{ nom_module }}</em></strong> <br>



<div>
<form action="../options/" method="post">
    {% csrf_token %}
    {{ opt }}
    <br>
    <input type="submit" name="action" value="Ajouter une ou des options">
</form>
</div>
{% endblock %}
</html>