{% load static %}


<!DOCTYPE html ><html><head><title>New account</title><link rel="stylesheet" type="text/css" href={% static "css/my.css" %}><link rel="shortcut icon" href="logos/favicon.ico" /><meta http-equiv="Content-Type" content="text/html;charset=utf-8" ></head>

<body>


	<![endif]--><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src=http://annotathon.org//logos/compass24.png style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;"><input type="hidden" name="axm" value="4254749455abc9d5285ba62.23171143"></td><td><a href="/?language=français">français</a> </td></tr></table>
<ul id="menu">
    <li><a  href="http://127.0.0.1:8000/home">Home</a></li>
    
    <li><a>Help</a>
    
        <ul>
            <li><a href="#">SMS</a></li>
            <li><a href="#">NCBI</a></li>
            <li><a>EBI</a></li>
            <li><a>Phylogeny.fr</a></li>
            <li><a>FAQ</a></li>
            <li><a>Contact</a></li>
        </ul>
    </li>
    <li><a href="http://127.0.0.1:8000/login">Login</a></br>
</ul>
<div id="helpmenu" style="display:none;"><div class=hop><table width=100%><tr><td><a href="javascript:montre('helpmenu')"> <span class=hop>Help Options &nbsp; [x]</span></a></td><td align=right>Annotathon v1.04</td></tr></table></div><ul><li><img src=logos/compass_s.png align=middle><li><a href="sms2/" target="SMS">SMS</a></li><li><a href=http://www.ncbi.nlm.nih.gov/ target=NCBI>NCBI</a></li><li><a href=http://www.ebi.ac.uk/Tools/ target=EBI>EBI</a></li><li><a href=http://www.phylogeny.fr target=PF>Phylogeny.fr</a></li><li><a href=http://phylogeny.lirmm.fr target=PF2>Phylogeny.lirmm.fr</a></li><li><a href=http://www.ncbi.nlm.nih.gov/Taxonomy/ target=NTAX>Taxonomy</a></li><li><a href=http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions target=RJ>FAQ</a></li><li><a href=http://annotathon.org/Metagenes/ target=MG>Metagenes</a></li><li><script type="text/javascript" language="javascript">
<!--
document.write('<a href="mailto:'+ptCode('mnivu.fr##-a#hinal.p@ugam#sc__p#a',3,3)+'">Contact</a>');
//-->
</script></li><li>< target=bi>About</a></ul></div></form></div></br>


<h1>Registration :</h1></br>

<table>
<tr>


</tr>
</br>


<p class=rouge>Success !! You can now log in with your username and password.<p>


</table></div></form></div></body>
</html>
