

{% block contenu %}
<link rel="shortcut icon" href="logos/favicon.ico" />

<ul id="menu">
{% if user.is_superuser %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% elif user.is_staff %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a>
{% else %}
<li><a  href="login">Login</a></li></br>
{% endif %}
</ul>
<ul>
{% for line in lines %}
 <li style="color:{% cycle 'black' 'blue' 'green' %}"> {{ line.text }}</li>
{% endfor %}
</ul>

{% endblock %}

