{% load static %}


<html><head><title>Your account</title><link rel="stylesheet" type="text/css" href={% static "css/my.css" %}><link rel="shortcut icon" href="logos/favicon.ico" /><meta http-equiv="Content-Type" content="text/html;charset=utf-8" ></head>

<body>


	<![endif]--><table  border=0 cellspacing=0 class="menutop" width=99%><tr valign=top><td  class=title><a name=top></a>Ann<img src=http://annotathon.org//logos/compass24.png style="padding:1px;vertical-align:middle;">tathon</td><td style="padding-left:10px;">
<ul id="menu">
	{% block content %}
	{% endblock %}
<li><a href="http://127.0.0.1:8000/logout">Logout</a></br>
<li><a>Welcome: {{ connected }}</a></li>
</ul>

<input type="hidden" name="axm" value="4254749455abc9d5285ba62.23171143"></td><td><a href="/?language=français">français</a> </td></tr></table>
<ul id="menu">
    <li><a  href="http://127.0.0.1:8000/home">Home</a></li>

    <li><a>Help</a>
        <ul>
            <li><a href="http://annotathon.org/sms2/">SMS</a></li>
            <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI</a></li>
            <li><a href="https://www.ebi.ac.uk/services">EBI</a></li>
            <li><a href="http://www.phylogeny.fr/">Phylogeny.fr</a></li>
            <li><a href="http://annotathon.org/Metagenes/index.php/Frequently_Asked_Questions">FAQ</a></li>
            <li><a href="mailto:pascal.hingamp@gmail.com">Contact</a></li>
        </ul>
    </li>
    <li><a>Accès aux annotations</a>
        <ul>
            <li><a href="http://127.0.0.1:8000/seq_gen">ORF Finder</a></li>
            <li><a href="http://127.0.0.1:8000/blast">Blast</a></li>
        </ul>
    </li>
    <li><a>Outils</a>
        <ul>
            <li><a href="http://127.0.0.1:8000/orfinder">ORFinder</a></li>
            <li><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome">Effectuer un Blast P</a></li>


        </ul>
    </li>
    <li><a href="http://127.0.0.1:8000/your_account">Your account</a></li>
</ul>


<table><td>

<h2>Information about your account :</h2><br>
<ul>



    <li>Username : {{ us }}</li>

     
</ul>


<ul>


{% for n in fname %}
	<li><a>First name : {{ fname.first_name }}</a></li>
{% endfor %}

</ul>

<ul>


{% for n in em %}
	<li><a>Email : {{ em.email}}</a></li>
{% endfor %}

</ul>

<ul>


{% for n in dt %}
	<li><a>Date joined : {{ dt.date_joined }}</a></li>
{% endfor %}

</ul>

<ul>


{% for n in lname %}
	<li><a>Last name : {{ lname.last_name }}</a></li>
{% endfor %}

</ul>


</td></table>

</body>
</html>


