#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

#menu, #menu ul /* Liste */     

{

        padding : 0; /* pas de marge intérieure */

        margin : 0; /* ni extérieure */

        list-style : none; /* on supprime le style par défaut de la liste */

        line-height : 21px; /* on définit une hauteur pour chaque élément */

        text-align : center; /* on centre le texte qui se trouve dans la liste */

}


#menu /* Ensemble du menu */

{

        font-weight : bold; /* on met le texte en gras */

        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */

        font-size : 12px; /* hauteur du texte : 12 pixels */

}

#menu a /* Contenu des listes */

{

        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */

        padding : 0; /* aucune marge intérieure */

        background : #1E90FF; /* couleur de fond */        

        color : #fff; /* couleur du texte */

        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

        width : 144px; /* largeur */

}

#menu li /* Éléments des listes */      

{ 

        float : left; 

        /* pour IE qui ne reconnaît pas "transparent" */

        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li

{

        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */

}


#menu li ul /* Sous-listes */

{ 

        position: absolute; /* Position absolue */

        width: 144px; /* Largeur des sous-listes */

        left: -999em; /* Hop, on envoie loin du champ de vision */

}



#menu li ul li /* Eléments de sous-listes */

{

        /* pour ie qui ne reconnaît pas "transparent" (comme précédemment) */

        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous-liste */

}

/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li                

{

        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */

}


#menu li ul ul 

{

        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      

}




html>body #menu li ul ul                

{

        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}

#menu a:hover /* Lorsque la souris passe sur un des liens */    

{

        color: #000; /* On passe le texte en noir... */

        background: #fff; /* ... et au contraire, le fond en blanc */

}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */

{

        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */

}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */

{

        left: auto; /* Repositionnement normal */

        min-height: 0; /* Corrige un bug sous IE */

}



h2 {

	background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}

h3 {
		background-color:#1E90FF; 
   background-image:-webkit-linear-gradient(top, #1E90FF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #1E90FF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}

h4 {
			background-color:#87CEFA; 
   background-image:-webkit-linear-gradient(top, #87CEFA 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #87CEFA 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40


}

/*floating toolbox*/
#ftb
{
position:fixed;
bottom:0px;
left:14px;
min-height:250px;
z-index:10000;
background-color:#00A46E;
border:3px solid #0072CA;
}
#ftb .white-border
{
border:1px solid white;
color:white;
}
#ftb .section
{
color:white;
padding-left:2px;
padding-right:2px;
font-weight:bold;
text-decoration:underline;
}
#ftb .links
{
padding:2px;
margin-left:20px;
}
#ftb a
{
color:white;
font-weight:normal;
}

body {
	text-align:left;
	margin-right:0px; margin-left:3px;margin-top:0px;background-color:#FFF;
	font-weight:normal;font-style:normal;font-size:0.9em;font-family:arial,Trebuchet MS, Helvetica,sans-serif;color:#222;
	background:url("http://annotathon.org//logos/fond3.jpg") no-repeat scroll;
  }
.cke_contents{
border:solid 1px #696969;
background-color:white;
}
.cke_editable{
border:solid 1px #696969;
background-color:white;
}
.highlight { background-color: yellow }


.title{text-align:left;font-size:70px; color:#0072CA;padding-left:5px;font-weight:normal;margin:0px;vertical-align:middle;}
.rouge{color:#FF0000;}
.col_user {vertical-align:top;white-space:nowrap;text-align:right;padding:2px;font-size:100%;color:#f7faff;background-color:#0072CA;}

 

















